<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <connectionStrings>
    <add name="FogaWeb" connectionString="Data Source=.;Initial Catalog=FogaWeb;Persist Security Info=True;User ID=dev_pruebas;Password=dev_pruebas" providerName="System.Data.SqlClient"/>
    <!--Base de Datos HOSTING-->
    <!--<add name="FogaWeb" connectionString="Data Source=.;Initial Catalog=empower_FogaWeb;Persist Security Info=True;User ID=empow_FogaUser;Password=F0.G4.W3b" providerName="System.Data.SqlClient"/>-->  
  </connectionStrings>
  
  <appSettings>
    <add key="FolderPath" value="Archivos"/>
  </appSettings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
     

</configuration>
